*,*::after,*::before{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.container{
    display: flex;
}
.display-content{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box; 
    overflow: auto;
}
.avia-logo{
    display: flex;
    justify-content: center;
}
.AviaLogo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.login-screen{
    display: flex;
    justify-content: center;
}
.login-details-content{
    padding: 30px;
    text-align: justify;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: 2px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    border-radius: 20px;
    color: white;
}
.login-discription{
    margin-top: 10px;
    font-size: 18px;
}
.login-with-button{
    display: flex;
    padding-top: 50px;
    justify-content: space-between; 
}
.login-with-three-button{
    border-radius: 10px;
    font-weight: 700;
    background-color: hsl(var(--primary) / 0.2);
    border: none;
    color: white;
    display: flex;
    padding: 10px;
    font-size: 18px;
}
:root {
    --primary: 173.22 51.11% 44.12%;
  }
.react-fa-icon{
    justify-content: center;
    text-align: center;
    margin: 0 3px;
    font-size: 18px;
    color:  hsl(var(--primary) / .6);
}
.divider-container {
    display: flex;
    align-items: center;
    color: #bdbdbd; 
    font-size: 12px; 
    letter-spacing: 1px;
    padding: 20px 0;
}
.divider-line {
    flex-grow: 1;
    height: 1px;
    border: none;
    background-color: #4d4d4d; 
    opacity: 0.5; 
}
.divider-text {
    margin: 0 15px; 
}
.container-form {
    margin-bottom: 20px;
    display: grid;
    gap: 8px;
}
.label {
    font-size: 14px;
    font-weight: 500;
    cursor: not-allowed;
    opacity: 0.7;
}
.input {
    height: 36px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 4px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.15s ease-in-out;
}
.input:focus {
    outline: none;
    border-color: #3b82f6; 
}
.input:hover {
    background-color: rgba(0, 0, 0, 0.5); }
.error-message {
    font-size: 0.8rem;
    font-weight: 500;
    color: #ff4d4f; 
}
.Sign-In-button{
    width: 100%;
    color: white;
    background-color:  hsl(var(--primary) / .8);
    font-size: 16px;
    transition: all 0.15s ease-in-out;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.Sign-In-button:hover{
background-color: hsl(var(--primary));;
}
.sign-up-text{
    justify-content: center;
    margin-top: 30px;
    display: flex;
    color: #cccccc;
    font-size: 14px;
}
.sign-up-link {
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.sign-up-link:hover {
    color:  hsl(var(--primary) / .6);
    text-decoration: underline; 
}
.right-side-container {
    display: flex;
    width: 50%;
}
.img-container {
    width: 100%;
    background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7) ) 0 0 / 1000% no-repeat, url("./AiArtPost.png") 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 15s ease infinite;
    animation: gradientAnimation 15s ease infinite;
  }
  @-webkit-keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    50%  { background-position: 100% 70%, 0 0;}
    100% { background-position: 0% 30%, 0 0;}
  }
  @keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    50%  { background-position: 100% 70%, 0 0;}
    100% { background-position: 0% 30%, 0 0;}
} 
.Sign-in-text{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.Sign-in-text:hover{
    color:  hsl(var(--primary) / .6);
    text-decoration: underline;
}